body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0b1522;
}

div {
  height: 100px;
  width: 100px;
  background-color: #f20044;
  z-index: 98;
  position: relative;
  box-shadow: -10px 10px 90px #f20044;
  /* transform: rotate(-45deg); */
  /* animation: small-heart-beat 0.6s linear infinite; */
}

span {
  position: absolute;
  transform: rotate(45deg);
  text-align: center;
  z-index: 99;
  font-size: 2rem;
  font-family: monospace;
  left: -12%;
  width: 150%;
  font-weight: bold;
  color: white;
}

div::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #f20044;
  top: -50%;
  border-radius: 50px;
  box-shadow: -10px -10px 90px #f20044;
}
div::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #f20044;
  right: -50%;
  border-radius: 50px;
  box-shadow: 10px 10px 90px #f20044;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 180px;
  background-color: #1516e5;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #1516e5;
  animation: heart-beat 0.6s linear infinite;
}

section::before {
  content: "";
  position: absolute;
  height: 180px;
  width: 180px;
  background-color: #1516e5;
  top: -50%;
  border-radius: 50%;
  box-shadow: -10px -10px 90px #1516e5;
}
section::after {
  content: "";
  position: absolute;
  height: 180px;
  width: 180px;
  background-color: #1516e5;
  right: -50%;
  bottom: 0%;
  border-radius: 50%;
  box-shadow: 10px 10px 90px #1516e5;
}

@keyframes heart-beat {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

@keyframes small-heart-beat {
  0% {
    transform: rotate(-45deg) scale(1.07);
  }
  80% {
    transform: rotate(-45deg) scale(1);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}
